<div class="app-layout container">
   <header class="page-header">
      <div class="row">
         <div class="col-sm-6 col-xs-12">
           <h1>
              <a href="#/shorten">
                 <i class="fa fa-compress"></i> kurz'd!
              </a>
              <small>get shorty</small>
           </h1>
         </div>
         <div class="col-sm-6 col-xs-12">
            <h3 class="pull-right">
               <a href="#/shorten"><i class='fa fa-plus-circle'></i> shorten</a>
               <a href="#/lookup"><i class='fa fa-search'></i> lookup</a>
            </h3>
         </div>
      </div>
   </header>

   <div data-ax-widget-area="content">
   </div>

   <footer class="ax-footer">
      © 2015 <a href="https://x1b.github.io">x1B</a>.
      Under <a href="https://raw.githubusercontent.com/x1B/paperdart/master/LICENSE-MIT">MIT-LICENSE</a>.
      Sources <a href="https://github.com/x1b/kurzd">on GitHub</a>.
   </footer>
</div>
