<div class="one-column-layout container">
   <header class="page-header">
      <div class="row">
         <h1 class="col-lg-6 col-sm-12">kurz'd! <small>get shorty</small></h1>
         <div class="col-lg-6 col-sm-12">
            <p class="pull-right text-lg">
               <a href="#/shorten"><i class='fa fa-plus-circle'></i> shorten</a>
               <a href="#/lookup"><i class='fa fa-search'></i> lookup</a>
            </p>
         </div>
      </div>
   </header>

   <div data-ax-widget-area="content">
   </div>

   <footer data-ax-widget-area="footer">
   </footer>
</div>
